# <span style="color:darkblue"> Lecture 11: Application 2 - Random Assignment </span>

<font size = "5">

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
carfeatures = pd.read_csv("data_raw/features.csv")

In [3]:
carfeatures

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
0    18.0          8           307        130    3504          12.0  C-1689780
1    15.0          8           350        165    3693          11.5  B-1689791
2    18.0          8           318        150    3436          11.0  P-1689802
3    16.0          8           304        150    3433          12.0  A-1689813
4    17.0          8           302        140    3449          10.5  F-1689824
..    ...        ...           ...        ...     ...           ...        ...
393  27.0          4           140         86    2790          15.6  F-1694103
394  44.0          4            97         52    2130          24.6  V-1694114
395  32.0          4           135         84    2295          11.6  D-1694125
396  28.0          4           120         79    2625          18.6  F-1694136
397  31.0          4           119         82    2720          19.4  C-1694147

[398 rows x 7 columns]

# <span style="color:darkblue"> I. Random Assignment </span>

<font size = "5">

Random assignment is crucial for scientific progress ...

- The basis for medical trials
- Also used in engineering, the natural sciences and <br>
  social sciences (economics, political science, etc.)

In [14]:
# "list_status" is a list with "treatment/control" arms
# "prop_status" is the proportion in the treatment and control arms
# "size_dataset" is how many rows are contained

list_status  = ["Treatment","Control"]
prop_status  = [0.4,0.6]
size_dataset = len(carfeatures)

In [7]:
size_dataset

398

<font size = "5">
Random assignment

In [15]:
# The "np.random.choice" will create a vector with the status
# We will save this to a column in "carfeatures"
# Note: (i) We can always split the arguments of a function in multiple lines
#           to make it easier to read

np.random.seed(42)
carfeatures["status"] = np.random.choice(list_status,
                                         size = size_dataset,
                                         p = prop_status)

display(carfeatures)

,mpg,cylinders,displacement,horsepower,weight,acceleration,vehicle_id,status
0,18.0,8,307,130,3504,12.0,C-1689780,Treatment
1,15.0,8,350,165,3693,11.5,B-1689791,Control
2,18.0,8,318,150,3436,11.0,P-1689802,Control
3,16.0,8,304,150,3433,12.0,A-1689813,Control
4,17.0,8,302,140,3449,10.5,F-1689824,Treatment
...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,F-1694103,Control
394,44.0,4,97,52,2130,24.6,V-1694114,Treatment
395,32.0,4,135,84,2295,11.6,D-1694125,Control
396,28.0,4,120,79,2625,18.6,F-1694136,Control
397,31.0,4,119,82,2720,19.4,C-1694147,Control

<font size = "5">

Compute frequencies by status

In [16]:
# The command "pd.crosstab" computes frequencies
# If we add the option "normalize" it will compute proportions
# Note: The default assignment is done randomly without replacement
#       which means that the proportions are approximately the same   
#       (but not equal) to "prop_status"

frequency_table   = pd.crosstab(index = carfeatures["status"], columns = "Frequency")
proportions_table = pd.crosstab(index = carfeatures["status"],
                                columns = "Frequency",
                                normalize = True)

display(frequency_table)
display(proportions_table)

col_0      Frequency
status
Control          230
Treatment        168

col_0      Frequency
status
Control     0.577889
Treatment   0.422111

<font size = "5">

Query with string conditions

In [17]:
# When you have queries for text variables, it's important
# to use outer ' ' single quotations
# and inner double quotations.

data_treated = carfeatures.query('status == "Treatment" ')
data_control = carfeatures.query('status == "Control" ')

<font size = "5">

Treated/control should be similar

- This is the key principle of random assignment
- We can check the summary statistics

In [46]:
# The count is different because we assigned different proportions
# All other sumary statistics are approximately the same
# They are not identical because the assignment is random

display(data_treated.describe())
display(data_control.describe())

              mpg   cylinders  displacement       weight  acceleration
count  145.000000  145.000000    145.000000   145.000000    145.000000
mean    23.656552    5.558621    194.965517  2999.124138     15.622069
std      8.487383    1.735559    103.989477   862.268865      2.806626
min      9.000000    4.000000     68.000000  1760.000000      9.500000
25%     17.000000    4.000000     98.000000  2200.000000     13.900000
50%     22.000000    4.000000    144.000000  2910.000000     15.000000
75%     29.900000    8.000000    302.000000  3672.000000     17.300000
max     46.600000    8.000000    455.000000  5140.000000     24.600000

              mpg   cylinders  displacement       weight  acceleration
count  253.000000  253.000000    253.000000   253.000000    253.000000
mean    23.433202    5.395257    192.545455  2953.976285     15.537154
std      7.420168    1.681451    104.624019   839.151120      2.734372
min     10.000000    3.000000     70.000000  1613.000000      8.000000
25%     17.500000    4.000000    105.000000  2245.000000     13.800000
50%     23.000000    4.000000    151.000000  2735.000000     15.500000
75%     28.800000    6.000000    258.000000  3563.000000     17.000000
max     44.600000    8.000000    455.000000  4997.000000     24.800000

## <span style="color:darkblue"> III. Quiz Structure </span>

<font size = "5">

The day of the quiz I will ...
- Provide a dataset with information
- Give more specific instructions.
- Below, you will see the type of questions that will be asked.
- The idea is for you to apply known concepts to new data
- You have 50 minutes to complete the assignment

Questions

(exact wording may change in quiz, but exercise will be very similar)

<font size = "5">

(a) Create a function and apply it to a column

- Check Lecture 8 for how to define a function
- The function will have if/else statements and output a string
- You will use ".apply()" to create a new variable in the dataset <br>
(see Lecture 9)

In [3]:
data  = pd.DataFrame()
data["age"]                   = [18,29,15,32,6]
data["num_underage_siblings"] = [0,0,1,1,0]
data["num_adult_siblings"]    = [1,0,0,1,0]

In [4]:
# The first two functions return True/False depending on age constraints
# The third function returns the sum of two numbers
# The fourt function returns a string with the age bracket

fn_iseligible_vote = lambda age: age >= 18
fn_istwenties      = lambda age: (age >= 20) & (age < 30)
fn_sum             = lambda x,y: x + y

def fn_agebracket(age):
    if (age >= 18):
        status = "Adult"
    elif (age >= 10) & (age < 18):
        status = "Adolescent"
    else:
        status = "Child"
    return(status)

In [5]:
# The fucntion "apply" will extract each element and return the function value
# It is similar to running a "for-loop" over each element

data["can_vote"]    = data["age"].apply(fn_iseligible_vote)
data["in_twenties"] = data["age"].apply(fn_istwenties)
data["age_bracket"] = data["age"].apply(fn_agebracket)


# NOTE: The following code also works:
# data["can_vote"]    = data["age"].apply(lambda age: age >= 18)
# data["in_twenties"] = data["age"].apply(lambda age: (age >= 20) & (age < 30))

display(data)

,age,num_underage_siblings,num_adult_siblings,can_vote,in_twenties,age_bracket
0,18,0,1,True,False,Adult
1,29,0,0,True,True,Adult
2,15,1,0,False,False,Adolescent
3,32,1,1,True,False,Adult
4,6,0,0,False,False,Child

<font size = "5">

(b) Use queries + global variables

- You will be asked to compute certain summary statistics <br>
(mean, median, etc)
- The query will have multiple conditions
- Then subset a dataset that meets certain conditions
- See Lecture 10 for more details

In [ ]:
# You can invoke global variables into the query by using @variablename
# If you don't include @, then Python will try to look for a column with 
# that name.

threshold = 25
data_varthreshold_mpg = carfeatures.query("mpg >= @threshold")

In [6]:
#query with multiple condition
carfeatures_conditioned = carfeatures[(carfeatures['acceleration']>= 10) & (carfeatures['acceleration']< 18)& (carfeatures['cylinders']==8) ]

NameError: name 'carfeatures' is not defined

In [ ]:
ybar = dataset['y'].mean()

stdv_sample = dataset['y'].std()

dataset.query("abs(y-@ybar)<=@stdv_sample")

<font size = "5">

(c) Use sorting + ".iloc[]"

- Extract the observations with the largest values of a column
- See Lecture 10 for details

In [ ]:
# Write your own code
car_ascendingmpg = carfeatures.sort_values(by = "mpg", ascending=True)
display(car_ascendingmpg.iloc[:5, :])

In [ ]:
# Extract rows 0 to 5
display(carfeatures.iloc[0:5,:])

# Extract rows 8 onwards
display(carfeatures.iloc[ 8:, : ])

# Note: We can leave the numbers to the left and right of ":" blank
# in order to select all values before or after, respectively.

<font size = "5">

(d) Split a dataset into subsets

- You will be asked to randomly assign a status to each row
- Split the data into separate datasets using ".query()"
- This will closely follow the material in Lecture 11 (this one)
- You will need this result to answer questions (e), (f)

In [ ]:
# "list_status" is a list with "treatment/control" arms
# "prop_status" is the proportion in the treatment and control arms
# "size_dataset" is how many rows are contained

list_status  = ["Treatment","Control"]
prop_status  = [0.4,0.6]
size_dataset = len(carfeatures)

In [ ]:
# The "np.random.choice" will create a vector with the status
# We will save this to a column in "carfeatures"
# Note: (i) We can always split the arguments of a function in multiple lines
#           to make it easier to read

np.random.seed(42)
carfeatures["status"] = np.random.choice(list_status,
                                         size = size_dataset,
                                         p = prop_status)

display(carfeatures)

<font size = "5">

(e) Create a function with four inputs $f(y,x,b0,b1)$

- Start by using "def" to define the function
- The function will include arithmetic operations (Lecture 3) <br>
and summary statistics for pandas (mean, std, min, max, etc.)
- You will be asked to test different values of $(y,x,b0,b1)$
- You will get $y$ and $x$ from the two datasets in part (d)
- Note: You will **not** be required to use the "statsmodels" library

In [ ]:
def func(y,x,b0,b1):
    z= y+x+b0+b1
    return z
func(y=dataset['y'], x=dataset["x"])

<font size = "5">

(f) Create two overlapping histogram plots

- You will use a variable from the two datasets in (d)
- You need to use the "alpha" option to make the graphs semitransparent
- You will need to add a legend, label the axes, and the title
- Note: The goal of this question is to illustrate that random <br>
assignment produces very similar distributions between two groups

In [ ]:
wdi_urban = pd.read_csv("data/wdi_urban.csv")
year1980 = wdi_urban.query("year == 1980")
year2020 = wdi_urban.query("year == 2020")
plt.hist(x=year1980["prop_urbanpopulation"], alpha=0.5, color="red")
plt.hist(x=year2020["prop_urbanpopulation"], alpha=0.5)
plt.legend(["1980", "2020"])
plt.xlabel("proportion")
plt.ylabel("frequency")
plt.title("Urbanpopulation of two years")
plt.show()